<div mat-dialog-title>
    <h1>Player Form</h1>
</div>

<form [formGroup]="playerForm" (ngSubmit)="onFormSubmit()">
    <div mat-dialog-content class="content">
       <div class="row">
        <mat-form-field appearance="outline">
            <mat-label>Name</mat-label>
            <input matInput type="text" placeholder="Name" formControlName="firstName">
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Age</mat-label>
            <input matInput placeholder="24" formControlName="lastName">
        </mat-form-field>
       </div>
    
       <div class="row">
        <mat-form-field appearance="outline">
            <mat-label>Nationality</mat-label>
            <input matInput type="text" placeholder="England" formControlName="firstName">
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Contract Length</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="dob">
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
       </div>
    
       <div class="row">
        <mat-form-field>
            <mat-label>Playing Position</mat-label>
            <mat-select formControlName="education">
              <mat-option *ngFor="let val of education" [value]="val">{{val}}
              </mat-option>
            </mat-select>
          </mat-form-field>
       </div>
    </div>
    <div mat-dialog-actions class="action">
        <button mat-raised-button type="button" [mat-dialog-close] = "false">Cancel</button>
        <button mat-raised-button color="primary" type="submit">{{data? 'Update': 'Save'}}</button>
    </div>
    </form>